<div class="bodydiv">
  <div class="maindiv">

    <div class="card">
      <a href="./input.html">Input Allergies</a>
     </div>
    <div class="card">
      <a href="./find.html">Find Recipes</a>
     </div>
    <div class="card">
      <a href="./saved.html">Saved Recipes</a>
    </div>
  </div>
</div>