<div class="bodydiv">
  <div class="inputdiv">
  <div class="card allergens">
    Allergens:
  </div>
  <div class="card allergies">      
    <label for="allergies">Allergy 1:&emsp;</label>
     <select class="drop">
      <option selected>None</option>
      <option>Dairy</option>
      <option>Egg</option>
      <option>Peanuts</option>
      <option>Treenuts</option>
      <option>Shellfish</option>
      <option>Fish</option>
      <option>Wheat</option>
      <option>Soy</option>
      <option>Kiwi</option>
      <option>Coconut</option>
    </select>
   </div>

   <div class="card allergies">      
    <label for="allergies">Allergy 2:&emsp;</label>
     <select class="drop">
      <option selected>None</option>
      <option>Dairy</option>
      <option>Egg</option>
      <option>Peanuts</option>
      <option>Treenuts</option>
      <option>Shellfish</option>
      <option>Fish</option>
      <option>Wheat</option>
      <option>Soy</option>
      <option>Kiwi</option>
      <option>Coconut</option>
    </select>
   </div>

   <div class="card allergies">      
    <label for="allergies">Allergy 3:&emsp;</label>
     <select class="drop">
      <option selected>None</option>
      <option>Dairy</option>
      <option>Egg</option>
      <option>Peanuts</option>
      <option>Treenuts</option>
      <option>Shellfish</option>
      <option>Fish</option>
      <option>Wheat</option>
      <option>Soy</option>
      <option>Kiwi</option>
      <option>Coconut</option>
    </select>
   </div>

   <div class="card allergies">      
    <label for="allergies">Allergy 4:&emsp;</label>
     <select class="drop">
      <option selected>None</option>
      <option>Dairy</option>
      <option>Egg</option>
      <option>Peanuts</option>
      <option>Treenuts</option>
      <option>Shellfish</option>
      <option>Fish</option>
      <option>Wheat</option>
      <option>Soy</option>
      <option>Kiwi</option>
      <option>Coconut</option>
    </select>
   </div>
    <div class ="card allergens">
      <a href="./index.html" class="button is-light">
       Submit
     </a>
    </div>

   </div>

  </div>